.container {
	position: relative;
}

.toggleBtnOptions {
	color: var(--heading-color);
	min-width: 40px;
	height: 40px;
	background-color: var(--bg-color-2);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
	transition: 0.3s;
}

.toggleBtnOptions:hover,
.selectBtnOptions {
	filter: brightness(83%);
}